* {
  margin:  0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  word-spacing: 2px;
  font-size: 11px;
  color: #333;
  padding: 0px 80px 40px;
/*  background: #fff url('../i/stalactite.png') top right no-repeat;*/
}

h2 {
  color: #444;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  word-spacing: 1px;
}

h3.active {
  background: #999;
}

h3 {
  
  width: 200px;
  margin: 5px 0;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  text-align: left;
  font-size: 10px;
  
  background: #ccc;
  color: #fff;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
       border-radius: 5px;
}

h3 a:link, h3 a:visited {
  color: #fff;
  text-decoration: none;
}
h3 a:hover, h3 a:active {
  background: none;
  color: #fff;
  text-decoration: underline;
}

p {
  margin: 0 0 25px 0;
  line-height: 17px;
  font-size: 11px;
}

img {
  border: 0 !important;
}

a#download:link, a#download:visited {
  margin-top: -20px;
  display: block;
  width: 100px;
  height: 100px;

  border: 1px dashed #333;
  -webkit-border-radius: 100px;
     -moz-border-radius: 100px;
          border-radius: 100px;
}

a#download:hover, a#download:active {
  background: #efefef;
}

.mute { font-size: 9px; color: #444; }

a:focus {
  outline: none;
}
a:link, a:visited {
  text-decoration: underline;
  color: #333;
}
a:hover, a:active {
  text-decoration: none;
}

.container_9 {;
  /*border-bottom: 1px solid #efefef;*/
}

#text_cascade .character {

  height: 55px;
  float:  left;

  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  text-align: center;

  color: #333;
  background: #ccc;

  padding: 45px 0 0 0;
  margin: 2px 3px 2px 2px;
}

#text_cascade .character:hover {
  background: #efefef;
}

.content {
  text-align: left;
}

.container_9 .grid6 {
  width: 625px;
}
.container_9 .grid9 {
  width: 940px;
}
.container_9 .grid4 {
  width: 415px;
}

footer, .section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-entry {
  background-color: white;
  max-width: 24%;
}
@media only screen and (max-width:1200px) {
  .product-entry {
    max-width: 32%;
  }
}
@media only screen and (max-width:960px) {
  .product-entry {
    max-width: 48%;
  }
}
@media only screen and (max-width:700px) {
  .product-entry {
    max-width: 100%;
  }
}
.product-entry {
  /*border: 1px solid red;*/
}
.product-entry > .item {
  position: relative;
  margin: 10px;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 0 4px 5px #ccc;
  border: thin solid #aaa;
  overflow: hidden;
}
.item > a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-style: none;
}

.item .close {
  border-radius: 50%;
  border: thin solid #999;
  width: 24px;
  height: 24px;
  font-size: 20px;
  text-align: center;
}
.item img {
  max-width: 100%;
  max-height: 500px;
  min-height: 150px;
  min-width: 150px;
}

.item .overlay {
  position: absolute;
  width: 100%;
  padding: 5px;
  display: none;
  font-size: 1.2em;
  /*border: 1px solid green;*/
}

.item:hover {
  /*border: 1px solid #999;*/
}
.item:hover .overlay.top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}
.item:hover .overlay.bottom {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #999;
}

.item:hover .overlay {
  display: block;
}

.btn {
  /*margin: 4px;*/
}