* {
  margin:  0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  word-spacing: 2px;
  color: #333;
  padding: 0px 80px 40px;
/*  background: #fff url('../i/stalactite.png') top right no-repeat;*/
}

/* featherlight overrides */
.fixwidth {
  background: rgba(256,256,256, 0.8);
  overflow: hidden;
}
.fixwidth .featherlight-content {
  width: 80%;
  max-height: 80%;
  padding: 0 20px;
  margin: 0;
  border-bottom: 0;
  overflow: hidden;
  border-radius: 4px;
  /*color: #fff;*/
  /*background: #111;*/
}
.fixwidth .featherlight-close {
  color: #fff;
  background: #333;
}
.fixwidth .featherlight-inner {
  max-height: 80%;
}

.product-detail {
  
}
.product-detail > div:first-child {
  float: right;
  max-width: 50%;
  padding-left: 10px;
}
.product-div {
  max-width: 50%;
}
.product-div > img {
  max-height: 500px;
  max-width: 90%;
}
.product-detail .lead {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  font-size: 1.2em;
}

a:focus {
  outline: none;
}
a:link, a:visited {
  text-decoration: underline;
  color: #333;
}
a:hover, a:active {
  text-decoration: none;
}

.container_9 {;
  /*border-bottom: 1px solid #efefef;*/
}

#text_cascade .character {

  height: 55px;
  float:  left;

  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  text-align: center;

  color: #333;
  background: #ccc;

  padding: 45px 0 0 0;
  margin: 2px 3px 2px 2px;
}

#text_cascade .character:hover {
  background: #efefef;
}

.content {
  text-align: left;
}

.container_9 .grid6 {
  width: 625px;
}
.container_9 .grid9 {
  width: 940px;
}
.container_9 .grid4 {
  width: 415px;
}

footer, .section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-entry {
  background-color: white;
  width: 25%;
}
@media only screen and (max-width:1200px) {
  .product-entry {
    width: 32%;
  }
}
@media only screen and (max-width:960px) {
  .product-entry {
    width: 48%;
  }
}
@media only screen and (max-width:700px) {
  .product-entry {
    width: 100%;
  }
}
.product-entry {
  /*border: 1px solid red;*/
}
.product-entry > .item {
  position: relative;
  margin: 10px;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 0 4px 5px #ccc;
  border: thin solid #aaa;
  overflow: hidden;
}
.item > a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-style: none;
}

.item .close {
  border-radius: 50%;
  border: thin solid #999;
  width: 24px;
  height: 24px;
  font-size: 20px;
  text-align: center;
  background-color: white;
  opacity: .9;
  color: #999;
}
.item .close:hover {
  opacity: 1;
  color: black;
}
.item > img {
  width: 100%;
  max-height: 500px;
  min-height: 150px;
  min-width: 150px;
}

.item .overlay {
  position: absolute;
  width: 100%;
  padding: 5px;
  display: none;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.9);
  color: #999;
  /*border: 1px solid green;*/
}

.item:hover {
  /*border: 1px solid #999;*/
}
.item:hover .overlay.top {
}
.item .overlay.bottom {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #999;
  bottom: 0;
}

.item:hover .overlay {
  display: block;
}

.btn {
  /*margin: 4px;*/
}

.item .overlay.title {
  font-size: 1em;
}

.share {
  border: none;
  background: transparent;
  width: 24px;
  height: 24px;
  margin: 0 4px;
  padding: 0;
  background-image: url(/share-button.png);
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}

.share:hover {
  background-image: url(/share-button-active.png)
}

#detailModal .share {
  float: right;
}